<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myapp.delivery.repository.UserRepository">
    <resultMap id="UserWithoutOrdersResultMap" type="com.myapp.delivery.domain.user.User" autoMapping="false">
        <id property="id" column="user_id"/>
        <result property="name" column="user_name"/>
        <result property="phone" column="user_phone"/>
        <result property="username" column="user_username"/>
        <result property="password" column="user_password"/>
        <result property="address" column="user_address"/>
        <result property="createdAt" column="user_created_at"/>
        <result property="updatedAt" column="user_updated_at"/>
        <collection property="roles"
                    ofType="com.myapp.delivery.domain.user.Role"
                    autoMapping="false">
            <result property="name" column="user_role"/>
        </collection>
    </resultMap>

    <resultMap id="UserWithAllOrdersResultMap" type="com.myapp.delivery.domain.user.User" extends="UserWithoutOrdersResultMap" autoMapping="false">
        <collection property="orders"
                    ofType="com.myapp.delivery.domain.order.Order"
                    select="com.myapp.delivery.repository.OrderRepository.findOrdersByCustomerId"
                    column="user_id"
                    autoMapping="false">
        </collection>
    </resultMap>

    <resultMap id="UserWithActualOrdersResultMap" type="com.myapp.delivery.domain.user.User" extends="UserWithoutOrdersResultMap" autoMapping="false">
        <collection property="orders"
                    ofType="com.myapp.delivery.domain.order.Order"
                    select="com.myapp.delivery.repository.OrderRepository.findActualOrdersByCustomerId"
                    column="user_id"
                    autoMapping="false">
        </collection>
    </resultMap>

    <select id="findWithOrdersById" resultMap="UserWithAllOrdersResultMap">
        SELECT
        u.id AS user_id,
        u.name AS user_name,
        u.phone AS user_phone,
        u.username AS user_username,
        u.password_hash AS user_password,
        u.address AS user_address,
        u.created_at AS user_created_at,
        u.updated_at AS user_updated_at,
        r.role AS user_role
        FROM users u
        LEFT JOIN users_roles r ON u.id = r.user_id
        WHERE u.id = #{id};
    </select>

    <select id="findWithActualOrdersById" resultMap="UserWithActualOrdersResultMap">
        SELECT
        u.id AS user_id,
        u.name AS user_name,
        u.phone AS user_phone,
        u.username AS user_username,
        u.address AS user_address,
        u.created_at AS user_created_at,
        u.updated_at AS user_updated_at,
        r.role AS user_role
        FROM users u
        LEFT JOIN users_roles r ON u.id = r.user_id
        WHERE u.id = #{id};
    </select>

    <select id="findWithoutOrdersByUsername" resultMap="UserWithoutOrdersResultMap">
        SELECT
        u.id AS user_id,
        u.name AS user_name,
        u.phone AS user_phone,
        u.username AS user_username,
        u.address AS user_address,
        u.password_hash AS user_password,
        u.created_at AS user_created_at,
        u.updated_at AS user_updated_at,
        r.role AS user_role
        FROM users u
        LEFT JOIN users_roles r ON u.id = r.user_id
        WHERE u.username = #{username};
    </select>

    <select id="findAllWithoutOrders" resultMap="UserWithoutOrdersResultMap">
        SELECT
        u.id AS user_id,
        u.name AS user_name,
        u.phone AS user_phone,
        u.username AS user_username,
        u.address AS user_address,
        u.created_at AS user_created_at,
        u.updated_at AS user_updated_at,
        r.role AS user_role
        FROM users u
        LEFT JOIN users_roles r ON u.id = r.user_id;
    </select>

    <select id="findWithoutOrdersById" resultMap="UserWithoutOrdersResultMap">
        SELECT
        u.id AS user_id,
        u.name AS user_name,
        u.phone AS user_phone,
        u.username AS user_username,
        u.address AS user_address,
        u.created_at AS user_created_at,
        u.updated_at AS user_updated_at,
        r.role AS user_role
        FROM users u
        LEFT JOIN users_roles r ON u.id = r.user_id
        WHERE u.id = #{id};
    </select>

    <insert id="create" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
        INSERT INTO users (
        name,
        phone,
        username,
        password_hash,
        address,
        created_at,
        updated_at
        ) VALUES (
        #{name},
        #{phone},
        #{username},
        #{password},
        #{address},
        CURRENT_TIMESTAMP,
        CURRENT_TIMESTAMP
        );
    </insert>

    <insert id="insertUserRoles">
        insert into users_roles (user_id, role)
        values
        <foreach collection="roles" item="role" separator=",">
            (#{userId}, #{role})
        </foreach>
    </insert>

    <update id="updateWithoutPassword">
        UPDATE users
        SET
        name = #{name},
        phone = #{phone},
        username = #{username},
        address = #{address},
        updated_at = CURRENT_TIMESTAMP
        WHERE id = #{id};
    </update>

    <update id="updateWithPassword">
        UPDATE users
        SET
        name = #{name},
        phone = #{phone},
        username = #{username},
        address = #{address},
        password_hash = #{password},
        updated_at = CURRENT_TIMESTAMP
        WHERE id = #{id};
    </update>

    <delete id="delete">
        delete from users
        where id = #{id}
    </delete>
</mapper>
